@(currentPage: Page[(Question)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
routes.Application.listOfQuestions(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy), currentFilter)

}

@main {

@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Pronto!</strong> @message
</div>
}

<div id="actions" align="right">

    @helper.form(action=routes.Application.listOfQuestions()) {
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Procure por algum assunto...">
        <input type="submit" id="searchsubmit" value="Filtrar por assunto" class="buttonUmaForca">
    }

</div>

@Option(currentPage.items).filterNot(_.isEmpty).map { questions =>

<table id="tableListOfQuestions" class="computers zebra-striped">
    <thead>
    <tr>
        <td>Pergunta:</td>
        <td>Criada em:</td>
        <td>Assunto(s):</td>
    </tr>
    </thead>
    <tbody>

    @questions.map {
    case (question) => {
    <tr>
        <td>
            <a id="@question.id.get" title="@question.titleHtml" href="@routes.Application.showQuestion(question.id.get, currentPage.page, currentOrderBy, currentFilter)">@question.title</a>
        </td>
        <td class="data">
            @question.creationDateString
        </td>
        <td>
            @Html(question.tags)
        </td>
    </tr>
    }
    }

    </tbody>
</table>
<div id="pagination" class="pagination">
    <div>
        <ul>
            @currentPage.prev.map { page =>
            <li class="prev">
                <a href="@link(page)">&larr; Anteriores</a>
            </li>
            }.getOrElse {
            <li class="prev disabled">
                <a>&larr; Anteriores</a>
            </li>
            }
            <li class="current">
                <a>@(currentPage.offset + 1) a @(currentPage.offset + questions.size) de @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
            <li class="next">
                <a href="@link(page)">Próximas &rarr;</a>
            </li>
            }.getOrElse {
            <li class="next disabled">
                <a>Próximas &rarr;</a>
            </li>
            }
        </ul>
    </div>
</div>
}.getOrElse {

<div class="well">
    <em>Nada a ser exibido</em>
</div>

}
}