@(content: Html)

<!DOCTYPE html>
<html>
<head>
    <script src='@routes.Assets.at("lib/jquery/jquery.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/hello.js")' type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/main.css")'/>

    <link rel="shortcut icon" href='@routes.Assets.at("stylesheets/images/deumaforcaab.png")'>
    <title>Dê uma força para o Stack Overflow em Português!</title>
</head>
<body>

<header>
    <center>
        <a class="image-link" href="@routes.Application.index()">
            <img class="favico" src='@routes.Assets.at("stylesheets/images/deumaforca4.png")'
                    width="55%" height="55%">
        </a>
    </center>
</header>

<section id="main">
    @content
</section>
</body>
</html>
